html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  background-image: url(.././assets/backgroundImage.jpg);
  letter-spacing: 1px;
}

header {
  background-image: url(.././assets/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, button {
  font-family: 'Amatic SC', cursive;
}

p, li, input, label {
  font-family: 'Covered By Your Grace', cursive;
}

h1 {
  font-size: 5rem;
  line-height: .8;
  color: #e2dcd4;
}

p, li {
  font-size: 1.6rem;
}

.gameText {
  font-size: 1.4rem;
}

.wrapper {
  max-width: 600px;
  margin: 2vh auto;
  width: 100%;
}

header {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  margin-top: 0;
  margin-left: 20px;
}

.characterProfile {
  background-color: #363636;
  color: #e2dcd4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 50px;
}

.characterProfile p {
  text-transform: uppercase;
}

.characterProfile li {
  margin-left: 10px;
}

.characterProfile li i {
  color: red;
}

.characterProfile li:first-child {
  margin-right: 15px;
}

main .gameImage {
  height: auto;
  overflow: hidden;
}

main .gameText {
  background-color: #e2dcd4;
  text-align: center;
}

.gameImage {
  position: relative;
}

.gameImage .overlay {
  background-image: url(.././assets/gameOverOverlay.jpg);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  opacity: 0;
}

.gameImage img {
  width: 100%;
}

.gameText {
  height: 200px;
  padding: 15px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gameText p {
  padding-bottom: 20px;
}

.gameText form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameText form input {
  text-align: center;
  border: 2px solid #363636;
  margin-bottom: 15px;
}

.gameText form button {
  cursor: pointer;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #363636;
  color: #e2dcd4;
  border: none;
}

.gameText form button:hover, .gameText form button:focus, .gameText form button:active {
  background-color: white;
  color: #363636;
}

.gameplay fieldset {
  border: none;
}

.gameplay fieldset input {
  margin-right: 50px;
}

.gameplay fieldset input:last-child {
  margin-right: 0;
}

.gameTextPlay {
  display: none;
}

footer {
  color: #e2dcd4;
  background-color: #363636;
  text-align: center;
  padding: 5px;
}

footer p {
  margin: 0 20px;
  font-size: .6rem;
}

footer p a {
  color: #e2dcd4;
  text-decoration: none;
  -webkit-transition: color .6s;
  transition: color .6s;
}

footer p a:hover, footer p a:focus, footer p a:active {
  color: red;
}

@media (max-width: 450px) {
  h1 {
    font-size: 4rem;
  }
  p, li {
    font-size: 1.2rem;
  }
  .gameText {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .gameplay fieldset input {
    margin-right: 10px;
  }
}
